In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('volleyball_raw.csv')
df.columns

Index(['경기번호', '팀명', '경기날짜', '결과', 'No.', '이름', '출전세트_1set', '출전세트_2set',
       '출전세트_3set', '출전세트_4set', '출전세트_5set', '득점_득점', '공격종합_시도', '공격종합_성공',
       '공격종합_공격차단', '공격종합_범실', '공격종합_성공률', '공격종합_점유율', '오픈_시도', '오픈_성공',
       '오픈_공격차단', '오픈_범실', '오픈_성공률', '오픈_점유율', '시간차_시도', '시간차_성공', '시간차_공격차단',
       '시간차_범실', '시간차_성공률', '시간차_점유율', '이동_시도', '이동_성공', '이동_공격차단', '이동_범실',
       '이동_성공률', '이동_점유율', '후위_시도', '후위_성공', '후위_공격차단', '후위_범실', '후위_성공률',
       '후위_점유율', '속공_시도', '속공_성공', '속공_공격차단', '속공_범실', '속공_성공률', '속공_점유율',
       '퀵오픈_시도', '퀵오픈_성공', '퀵오픈_공격차단', '퀵오픈_범실', '퀵오픈_성공률', '퀵오픈_점유율', '서브_시도',
       '서브_성공', '서브_범실', '서브_성공률', '서브_점유율', '디그_시도', '디그_성공', '디그_실패',
       '디그_범실', '디그_세트당', '디그_점유율', '세트_시도', '세트_성공', '세트_범실', '세트_세트당',
       '세트_점유율', '리시브_시도', '리시브_정확', '리시브_실패', '리시브_세트당', '리시브_점유율', '블로킹_시도',
       '블로킹_성공', '블로킹_유효블락', '블로킹_실패', '블로킹_범실', '블로킹_세트당', '블로킹_점유율',
       '블로킹_어시스트', '벌칙_벌칙', '범실_범실'],
      dtype='object')

### 전처리 과정

In [3]:
# No. 열 삭제
df_sub = df.drop('No.', axis = 1)
df_sub

,경기번호,팀명,경기날짜,결과,이름,출전세트_1set,출전세트_2set,출전세트_3set,출전세트_4set,출전세트_5set,...,블로킹_시도,블로킹_성공,블로킹_유효블락,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실
0,1,IBK기업은행,2017-10-14,0,메디 (L),O,O,O,O,O,...,20,3,5,6,1,0.6,21.28,1,0,7
1,1,IBK기업은행,2017-10-14,0,고예림 (L),O,O,O,O,O,...,10,0,7,3,0,0.0,10.64,0,0,6
2,1,IBK기업은행,2017-10-14,0,김희진 (R),O,O,O,O,O,...,14,4,6,3,0,0.8,14.89,1,0,6
3,1,IBK기업은행,2017-10-14,0,김미연 (L),O,O,O,O,O,...,12,2,2,7,0,0.4,12.77,3,0,1
4,1,IBK기업은행,2017-10-14,0,김수지 (C),O,O,O,O,O,...,28,1,13,9,0,0.2,29.79,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10992,474,KGC인삼공사,2022-02-28,0,김혜원 (S),O,NaN,2,NaN,NaN,...,2,0,1,1,0,0.0,4.44,0,0,0
10993,474,KGC인삼공사,2022-02-28,0,나현수 (C),NaN,17,12,NaN,NaN,...,1,0,0,1,0,0.0,2.22,0,0,2
10994,474,KGC인삼공사,2022-02-28,0,노란 (Li),LI,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0.0,0.00,0,0,0
10995,474,KGC인삼공사,2022-02-28,0,이선우 (L),NaN,2,1,NaN,NaN,...,0,0,0,0,0,0.0,0.00,0,0,0
10996,474,KGC인삼공사,2022-02-28,0,채선아 (Li),LI,LI,LI,NaN,NaN,...,0,0,0,0,0,0.0,0.00,0,0,0

In [4]:
# 3경기 이상 출전한 선수만 유지 (출전 세트 결측치가 3개 이상인 선수 제거)
subset = ['출전세트_1set', '출전세트_2set', '출전세트_3set', '출전세트_4set', '출전세트_5set']

# thresh = 3 : 정상 값(Not NaN)이 3개 이상만 유지
df_sub = df_sub.dropna(subset = subset, thresh = 3)
df_sub

,경기번호,팀명,경기날짜,결과,이름,출전세트_1set,출전세트_2set,출전세트_3set,출전세트_4set,출전세트_5set,...,블로킹_시도,블로킹_성공,블로킹_유효블락,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실
0,1,IBK기업은행,2017-10-14,0,메디 (L),O,O,O,O,O,...,20,3,5,6,1,0.60,21.28,1,0,7
1,1,IBK기업은행,2017-10-14,0,고예림 (L),O,O,O,O,O,...,10,0,7,3,0,0.00,10.64,0,0,6
2,1,IBK기업은행,2017-10-14,0,김희진 (R),O,O,O,O,O,...,14,4,6,3,0,0.80,14.89,1,0,6
3,1,IBK기업은행,2017-10-14,0,김미연 (L),O,O,O,O,O,...,12,2,2,7,0,0.40,12.77,3,0,1
4,1,IBK기업은행,2017-10-14,0,김수지 (C),O,O,O,O,O,...,28,1,13,9,0,0.20,29.79,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,KGC인삼공사,2022-02-28,0,한송이 (C),O,O,O,NaN,NaN,...,14,2,5,5,0,0.67,31.11,2,0,0
10989,474,KGC인삼공사,2022-02-28,0,정호영 (C),O,O,O,NaN,NaN,...,2,0,0,2,0,0.00,4.44,3,0,0
10990,474,KGC인삼공사,2022-02-28,0,고의정 (L),12,11,11,NaN,NaN,...,0,0,0,0,0,0.00,0.00,0,0,1
10991,474,KGC인삼공사,2022-02-28,0,하효림 (S),14,O,O,NaN,NaN,...,4,0,2,1,0,0.00,8.89,2,0,0
10996,474,KGC인삼공사,2022-02-28,0,채선아 (Li),LI,LI,LI,NaN,NaN,...,0,0,0,0,0,0.00,0.00,0,0,0

In [5]:
# 스타팅멤버 표시 (3세트 이상 스타팅멤버라면 1 아니면 0)
df_sub['스타팅멤버'] = 0


df_sub.loc[(df_sub.iloc[:, 5:10] == 'O').sum(axis = 1) >= 3, '스타팅멤버'] = 1

df_sub

C:\Users\Jeong\AppData\Local\Temp\ipykernel_9492\2433339756.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub['스타팅멤버'] = 0

,경기번호,팀명,경기날짜,결과,이름,출전세트_1set,출전세트_2set,출전세트_3set,출전세트_4set,출전세트_5set,...,블로킹_성공,블로킹_유효블락,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실,스타팅멤버
0,1,IBK기업은행,2017-10-14,0,메디 (L),O,O,O,O,O,...,3,5,6,1,0.60,21.28,1,0,7,1
1,1,IBK기업은행,2017-10-14,0,고예림 (L),O,O,O,O,O,...,0,7,3,0,0.00,10.64,0,0,6,1
2,1,IBK기업은행,2017-10-14,0,김희진 (R),O,O,O,O,O,...,4,6,3,0,0.80,14.89,1,0,6,1
3,1,IBK기업은행,2017-10-14,0,김미연 (L),O,O,O,O,O,...,2,2,7,0,0.40,12.77,3,0,1,1
4,1,IBK기업은행,2017-10-14,0,김수지 (C),O,O,O,O,O,...,1,13,9,0,0.20,29.79,2,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,KGC인삼공사,2022-02-28,0,한송이 (C),O,O,O,NaN,NaN,...,2,5,5,0,0.67,31.11,2,0,0,1
10989,474,KGC인삼공사,2022-02-28,0,정호영 (C),O,O,O,NaN,NaN,...,0,0,2,0,0.00,4.44,3,0,0,1
10990,474,KGC인삼공사,2022-02-28,0,고의정 (L),12,11,11,NaN,NaN,...,0,0,0,0,0.00,0.00,0,0,1,0
10991,474,KGC인삼공사,2022-02-28,0,하효림 (S),14,O,O,NaN,NaN,...,0,2,1,0,0.00,8.89,2,0,0,0
10996,474,KGC인삼공사,2022-02-28,0,채선아 (Li),LI,LI,LI,NaN,NaN,...,0,0,0,0,0.00,0.00,0,0,0,0

In [6]:
df_sub['스타팅멤버'].value_counts()

1    5315
0    2801
Name: 스타팅멤버, dtype: int64

In [7]:
# 출전 세트 열 삭제
subset = ['출전세트_1set', '출전세트_2set', '출전세트_3set', '출전세트_4set', '출전세트_5set']

df_sub = df_sub.drop(subset, axis = 1)
df_sub

,경기번호,팀명,경기날짜,결과,이름,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,공격종합_범실,...,블로킹_성공,블로킹_유효블락,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실,스타팅멤버
0,1,IBK기업은행,2017-10-14,0,메디 (L),24,67,20,4,2,...,3,5,6,1,0.60,21.28,1,0,7,1
1,1,IBK기업은행,2017-10-14,0,고예림 (L),15,40,12,6,4,...,0,7,3,0,0.00,10.64,0,0,6,1
2,1,IBK기업은행,2017-10-14,0,김희진 (R),15,36,10,2,2,...,4,6,3,0,0.80,14.89,1,0,6,1
3,1,IBK기업은행,2017-10-14,0,김미연 (L),7,16,5,1,0,...,2,2,7,0,0.40,12.77,3,0,1,1
4,1,IBK기업은행,2017-10-14,0,김수지 (C),6,16,4,1,2,...,1,13,9,0,0.20,29.79,2,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,KGC인삼공사,2022-02-28,0,한송이 (C),4,7,2,2,0,...,2,5,5,0,0.67,31.11,2,0,0,1
10989,474,KGC인삼공사,2022-02-28,0,정호영 (C),3,5,3,1,0,...,0,0,2,0,0.00,4.44,3,0,0,1
10990,474,KGC인삼공사,2022-02-28,0,고의정 (L),1,3,0,0,0,...,0,0,0,0,0.00,0.00,0,0,1,0
10991,474,KGC인삼공사,2022-02-28,0,하효림 (S),1,0,0,0,0,...,0,2,1,0,0.00,8.89,2,0,0,0
10996,474,KGC인삼공사,2022-02-28,0,채선아 (Li),0,0,0,0,0,...,0,0,0,0,0.00,0.00,0,0,0,0

In [8]:
# 이름과 포지션 분리하기
# "이름" 열 : 이름 정보
# "포지션" 열 : 포지션 정보

df_sub['포지션'] = df_sub['이름'].str.split().str[1].str.strip('()')
df_sub['이름'] = df_sub['이름'].str.split().str[0]

df_sub

,경기번호,팀명,경기날짜,결과,이름,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,공격종합_범실,...,블로킹_유효블락,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실,스타팅멤버,포지션
0,1,IBK기업은행,2017-10-14,0,메디,24,67,20,4,2,...,5,6,1,0.60,21.28,1,0,7,1,L
1,1,IBK기업은행,2017-10-14,0,고예림,15,40,12,6,4,...,7,3,0,0.00,10.64,0,0,6,1,L
2,1,IBK기업은행,2017-10-14,0,김희진,15,36,10,2,2,...,6,3,0,0.80,14.89,1,0,6,1,R
3,1,IBK기업은행,2017-10-14,0,김미연,7,16,5,1,0,...,2,7,0,0.40,12.77,3,0,1,1,L
4,1,IBK기업은행,2017-10-14,0,김수지,6,16,4,1,2,...,13,9,0,0.20,29.79,2,0,3,1,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,KGC인삼공사,2022-02-28,0,한송이,4,7,2,2,0,...,5,5,0,0.67,31.11,2,0,0,1,C
10989,474,KGC인삼공사,2022-02-28,0,정호영,3,5,3,1,0,...,0,2,0,0.00,4.44,3,0,0,1,C
10990,474,KGC인삼공사,2022-02-28,0,고의정,1,3,0,0,0,...,0,0,0,0.00,0.00,0,0,1,0,L
10991,474,KGC인삼공사,2022-02-28,0,하효림,1,0,0,0,0,...,2,1,0,0.00,8.89,2,0,0,0,S
10996,474,KGC인삼공사,2022-02-28,0,채선아,0,0,0,0,0,...,0,0,0,0.00,0.00,0,0,0,0,Li

In [9]:
# 선수 별 득점 점유율 구하기 (개인 별 득점을 팀 전체의 득점으로 나누기)

df_sub_total_score = df_sub['득점_득점'].sum()
df_sub['득점점유율'] = df_sub['득점_득점'] / df_sub_total_score
df_sub

,경기번호,팀명,경기날짜,결과,이름,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,공격종합_범실,...,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실,스타팅멤버,포지션,득점점유율
0,1,IBK기업은행,2017-10-14,0,메디,24,67,20,4,2,...,6,1,0.60,21.28,1,0,7,1,L,0.000401
1,1,IBK기업은행,2017-10-14,0,고예림,15,40,12,6,4,...,3,0,0.00,10.64,0,0,6,1,L,0.000251
2,1,IBK기업은행,2017-10-14,0,김희진,15,36,10,2,2,...,3,0,0.80,14.89,1,0,6,1,R,0.000251
3,1,IBK기업은행,2017-10-14,0,김미연,7,16,5,1,0,...,7,0,0.40,12.77,3,0,1,1,L,0.000117
4,1,IBK기업은행,2017-10-14,0,김수지,6,16,4,1,2,...,9,0,0.20,29.79,2,0,3,1,C,0.000100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,KGC인삼공사,2022-02-28,0,한송이,4,7,2,2,0,...,5,0,0.67,31.11,2,0,0,1,C,0.000067
10989,474,KGC인삼공사,2022-02-28,0,정호영,3,5,3,1,0,...,2,0,0.00,4.44,3,0,0,1,C,0.000050
10990,474,KGC인삼공사,2022-02-28,0,고의정,1,3,0,0,0,...,0,0,0.00,0.00,0,0,1,0,L,0.000017
10991,474,KGC인삼공사,2022-02-28,0,하효림,1,0,0,0,0,...,1,0,0.00,8.89,2,0,0,0,S,0.000017
10996,474,KGC인삼공사,2022-02-28,0,채선아,0,0,0,0,0,...,0,0,0.00,0.00,0,0,0,0,Li,0.000000

#### 공격 효율 지표 추가 : 소수점 2번째 자리까지

In [10]:
''' 선수 별
오픈 공격 효율 구하기 : (오픈_성공 - 오픈_공격차단 - 오픈_범실 / 오픈_시도)
시간차 공격 효율 구하기 : (시간차_성공 - 시간차_공격차단 - 시간차_범실 / 시간차_시도)
이동 효율 구하기 : (이동_성공 - 이동_공격차단 - 이동_범실 / 이동_시도)
후위 효율 구하기 : (후위_성공 - 후위_공격차단 - 후위_범실 / 후위_시도)
속공 효율 구하기 : (속공_성공 - 속공_공격차단 - 속공_범실 / 속공_시도)
퀵오픈 효율 구하기 : (퀵오픈_성공 - 퀵오픈_공격차단 - 퀵오픈_범실 / 퀵오픈_시도)
'''

df_sub['오픈_효율'] = round((df_sub['오픈_성공']-df_sub['오픈_공격차단']-df_sub['오픈_범실']) / df_sub['오픈_시도']*100, 2)
df_sub['시간차_효율'] = round((df_sub['시간차_성공']-df_sub['시간차_공격차단']-df_sub['시간차_범실']) / df_sub['시간차_시도']*100, 2)
df_sub['이동_효율'] = round((df_sub['이동_성공']-df_sub['이동_공격차단']-df_sub['이동_범실']) / df_sub['이동_시도']*100, 2)
df_sub['후위_효율'] = round((df_sub['후위_성공']-df_sub['후위_공격차단']-df_sub['후위_범실']) / df_sub['후위_시도']*100, 2)
df_sub['속공_효율'] = round((df_sub['속공_성공']-df_sub['속공_공격차단']-df_sub['속공_범실']) / df_sub['속공_시도']*100, 2)
df_sub['퀵오픈_효율'] = round((df_sub['퀵오픈_성공']-df_sub['퀵오픈_공격차단']-df_sub['퀵오픈_범실']) / df_sub['퀵오픈_시도']*100, 2)
df_sub

,경기번호,팀명,경기날짜,결과,이름,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,공격종합_범실,...,범실_범실,스타팅멤버,포지션,득점점유율,오픈_효율,시간차_효율,이동_효율,후위_효율,속공_효율,퀵오픈_효율
0,1,IBK기업은행,2017-10-14,0,메디,24,67,20,4,2,...,7,1,L,0.000401,17.07,100.00,NaN,0.00,NaN,36.36
1,1,IBK기업은행,2017-10-14,0,고예림,15,40,12,6,4,...,6,1,L,0.000251,-24.00,NaN,NaN,NaN,NaN,53.33
2,1,IBK기업은행,2017-10-14,0,김희진,15,36,10,2,2,...,6,1,R,0.000251,10.00,22.22,NaN,-11.11,NaN,50.00
3,1,IBK기업은행,2017-10-14,0,김미연,7,16,5,1,0,...,1,1,L,0.000117,16.67,-100.00,33.33,NaN,0.00,60.00
4,1,IBK기업은행,2017-10-14,0,김수지,6,16,4,1,2,...,3,1,C,0.000100,0.00,25.00,0.00,NaN,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,KGC인삼공사,2022-02-28,0,한송이,4,7,2,2,0,...,0,1,C,0.000067,-50.00,NaN,-50.00,NaN,66.67,NaN
10989,474,KGC인삼공사,2022-02-28,0,정호영,3,5,3,1,0,...,0,1,C,0.000050,33.33,NaN,NaN,NaN,50.00,NaN
10990,474,KGC인삼공사,2022-02-28,0,고의정,1,3,0,0,0,...,1,0,L,0.000017,0.00,NaN,NaN,NaN,NaN,0.00
10991,474,KGC인삼공사,2022-02-28,0,하효림,1,0,0,0,0,...,0,0,S,0.000017,NaN,NaN,NaN,NaN,NaN,NaN
10996,474,KGC인삼공사,2022-02-28,0,채선아,0,0,0,0,0,...,0,0,Li,0.000000,NaN,NaN,NaN,NaN,NaN,NaN

#### 수비 지표 추가 : 소수점 2번째 자리까지

In [11]:
''' 선수 별
디그 성공률 구하기 : 디그_성공/디그_시도
세트 성공률 구하기 : 세트_성공/세트_시도
리시브 성공률 구하기 : 리시브_정확/리시브_시도
블로킹 효율 구하기 : 블로킹_성공+블로킹_유효블락-블로킹_범실/블로킹_시도
'''
df_sub['디그_성공률'] = round(df_sub['디그_성공'] / df_sub['디그_시도'], 2)
df_sub['세트_성공률'] = round(df_sub['세트_성공'] / df_sub['세트_시도'], 2)
df_sub['리시브_성공률'] = round(df_sub['리시브_정확'] / df_sub['리시브_시도'], 2)
df_sub['블로킹_효율'] = round((df_sub['블로킹_성공'] + df_sub['블로킹_유효블락'] - df_sub['블로킹_범실']) / df_sub['블로킹_시도'], 2)
df_sub

,경기번호,팀명,경기날짜,결과,이름,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,공격종합_범실,...,오픈_효율,시간차_효율,이동_효율,후위_효율,속공_효율,퀵오픈_효율,디그_성공률,세트_성공률,리시브_성공률,블로킹_효율
0,1,IBK기업은행,2017-10-14,0,메디,24,67,20,4,2,...,17.07,100.00,NaN,0.00,NaN,36.36,0.83,0.00,0.39,0.35
1,1,IBK기업은행,2017-10-14,0,고예림,15,40,12,6,4,...,-24.00,NaN,NaN,NaN,NaN,53.33,0.77,0.14,0.60,0.70
2,1,IBK기업은행,2017-10-14,0,김희진,15,36,10,2,2,...,10.00,22.22,NaN,-11.11,NaN,50.00,0.92,0.00,NaN,0.71
3,1,IBK기업은행,2017-10-14,0,김미연,7,16,5,1,0,...,16.67,-100.00,33.33,NaN,0.00,60.00,0.83,0.00,0.00,0.33
4,1,IBK기업은행,2017-10-14,0,김수지,6,16,4,1,2,...,0.00,25.00,0.00,NaN,0.00,NaN,0.91,0.00,NaN,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,KGC인삼공사,2022-02-28,0,한송이,4,7,2,2,0,...,-50.00,NaN,-50.00,NaN,66.67,NaN,0.86,NaN,NaN,0.50
10989,474,KGC인삼공사,2022-02-28,0,정호영,3,5,3,1,0,...,33.33,NaN,NaN,NaN,50.00,NaN,1.00,NaN,NaN,0.00
10990,474,KGC인삼공사,2022-02-28,0,고의정,1,3,0,0,0,...,0.00,NaN,NaN,NaN,NaN,0.00,0.67,NaN,0.00,NaN
10991,474,KGC인삼공사,2022-02-28,0,하효림,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.67,0.41,0.00,0.50
10996,474,KGC인삼공사,2022-02-28,0,채선아,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.33,0.14,0.53,NaN

```
공격 / 수비 효율, 성공률 이 0 인 경우 : 공격 / 수비 시도는 있으나 성공, 공격 차단, 범실, 정확이 없는 경우
                                        or 계산식의 분자부분이 0이 되는 경우
공격 / 수비 효율, 성공률 이 NaN 인 경우 : 공격 / 수비 시도, 성공, 공격 차단, 범실, 정확 모두 없는 경우
```

In [12]:
# 공격 / 수비 효율, 성공률이 NaN 인 경우 0으로 변경

df_sub[['오픈_효율', '시간차_효율', '이동_효율', '속공_효율', '퀵오픈_효율',
    '디그_성공률', '세트_성공률', '리시브_성공률', '블로킹_효율']] = df_sub[['오픈_효율',
    '시간차_효율', '이동_효율', '속공_효율', '퀵오픈_효율', '디그_성공률', '세트_성공률',
    '리시브_성공률', '블로킹_효율']].fillna(0)
df_sub

,경기번호,팀명,경기날짜,결과,이름,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,공격종합_범실,...,오픈_효율,시간차_효율,이동_효율,후위_효율,속공_효율,퀵오픈_효율,디그_성공률,세트_성공률,리시브_성공률,블로킹_효율
0,1,IBK기업은행,2017-10-14,0,메디,24,67,20,4,2,...,17.07,100.00,0.00,0.00,0.00,36.36,0.83,0.00,0.39,0.35
1,1,IBK기업은행,2017-10-14,0,고예림,15,40,12,6,4,...,-24.00,0.00,0.00,NaN,0.00,53.33,0.77,0.14,0.60,0.70
2,1,IBK기업은행,2017-10-14,0,김희진,15,36,10,2,2,...,10.00,22.22,0.00,-11.11,0.00,50.00,0.92,0.00,0.00,0.71
3,1,IBK기업은행,2017-10-14,0,김미연,7,16,5,1,0,...,16.67,-100.00,33.33,NaN,0.00,60.00,0.83,0.00,0.00,0.33
4,1,IBK기업은행,2017-10-14,0,김수지,6,16,4,1,2,...,0.00,25.00,0.00,NaN,0.00,0.00,0.91,0.00,0.00,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,KGC인삼공사,2022-02-28,0,한송이,4,7,2,2,0,...,-50.00,0.00,-50.00,NaN,66.67,0.00,0.86,0.00,0.00,0.50
10989,474,KGC인삼공사,2022-02-28,0,정호영,3,5,3,1,0,...,33.33,0.00,0.00,NaN,50.00,0.00,1.00,0.00,0.00,0.00
10990,474,KGC인삼공사,2022-02-28,0,고의정,1,3,0,0,0,...,0.00,0.00,0.00,NaN,0.00,0.00,0.67,0.00,0.00,0.00
10991,474,KGC인삼공사,2022-02-28,0,하효림,1,0,0,0,0,...,0.00,0.00,0.00,NaN,0.00,0.00,0.67,0.41,0.00,0.50
10996,474,KGC인삼공사,2022-02-28,0,채선아,0,0,0,0,0,...,0.00,0.00,0.00,NaN,0.00,0.00,0.33,0.14,0.53,0.00

In [13]:
# 컬럼 선택

columns = [
    '경기번호',
    '경기날짜',
    '팀명',
    '결과',
    '이름',
#     '득점_득점',
#     '공격종합_시도',
#     '공격종합_성공',
#     '공격종합_공격차단',
#     '공격종합_범실',
    '공격종합_성공률',
#     '공격종합_점유율',
#     '오픈_시도',
#     '오픈_성공',
#     '오픈_공격차단',
#     '오픈_범실',
    '오픈_성공률',
#     '오픈_점유율',
    '오픈_효율',
#     '시간차_시도',
#     '시간차_성공',
#     '시간차_공격차단',
#     '시간차_범실',
    '시간차_성공률',
#     '시간차_점유율',
    '시간차_효율',
#     '이동_시도',
#     '이동_성공',
#     '이동_공격차단',
#     '이동_범실',
    '이동_성공률',
#     '이동_점유율',
    '이동_효율',
#     '후위_시도',
#     '후위_성공',
#     '후위_공격차단',
#     '후위_범실',
    '후위_성공률',
#     '후위_점유율',
    '후위_효율',
#     '속공_시도',
#     '속공_성공',
#     '속공_공격차단',
#     '속공_범실',
    '속공_성공률',
#     '속공_점유율',
    '속공_효율',
#     '퀵오픈_시도',
#     '퀵오픈_성공',
#     '퀵오픈_공격차단',
#     '퀵오픈_범실',
    '퀵오픈_성공률',
#     '퀵오픈_점유율',
    '퀵오픈_효율',
#     '서브_시도',
#     '서브_성공',
    '서브_범실',
    '서브_성공률',
#     '서브_점유율',
#     '디그_시도',
#     '디그_성공',
#     '디그_실패',
#     '디그_범실',
#     '디그_세트당',
#     '디그_점유율',
    '디그_성공률',
#     '세트_시도',
#     '세트_성공',
#     '세트_범실',
#     '세트_세트당',
#     '세트_점유율',
    '세트_성공률',
#     '리시브_시도',
#     '리시브_정확',
#     '리시브_실패',
#     '리시브_세트당',
#     '리시브_점유율',
    '리시브_성공률',
#     '블로킹_시도',
#     '블로킹_성공',
#     '블로킹_유효블락',
#     '블로킹_실패',
#     '블로킹_범실',
#     '블로킹_세트당',
#     '블로킹_점유율',
#     '블로킹_어시스트',
    '블로킹_효율',
#     '벌칙_벌칙',
    '범실_범실',
    '포지션',
    '득점점유율',
    '스타팅멤버'
]


df_sub = df_sub[columns]

df_sub

,경기번호,경기날짜,팀명,결과,이름,공격종합_성공률,오픈_성공률,오픈_효율,시간차_성공률,시간차_효율,...,서브_범실,서브_성공률,디그_성공률,세트_성공률,리시브_성공률,블로킹_효율,범실_범실,포지션,득점점유율,스타팅멤버
0,1,2017-10-14,IBK기업은행,0,메디,29.85,26.83,17.07,100.00,100.00,...,3,0.20,0.83,0.00,0.39,0.35,7,L,0.000401,1
1,1,2017-10-14,IBK기업은행,0,고예림,30.00,12.00,-24.00,0.00,0.00,...,2,0.60,0.77,0.14,0.60,0.70,6,L,0.000251,1
2,1,2017-10-14,IBK기업은행,0,김희진,27.78,20.00,10.00,44.44,22.22,...,3,0.20,0.92,0.00,0.00,0.71,6,R,0.000251,1
3,1,2017-10-14,IBK기업은행,0,김미연,31.25,16.67,16.67,0.00,-100.00,...,1,0.00,0.83,0.00,0.00,0.33,1,L,0.000117,1
4,1,2017-10-14,IBK기업은행,0,김수지,25.00,0.00,0.00,50.00,25.00,...,1,0.20,0.91,0.00,0.00,0.50,3,C,0.000100,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,2022-02-28,KGC인삼공사,0,한송이,28.57,0.00,-50.00,0.00,0.00,...,0,0.00,0.86,0.00,0.00,0.50,0,C,0.000067,1
10989,474,2022-02-28,KGC인삼공사,0,정호영,60.00,66.67,33.33,0.00,0.00,...,0,0.00,1.00,0.00,0.00,0.00,0,C,0.000050,1
10990,474,2022-02-28,KGC인삼공사,0,고의정,0.00,0.00,0.00,0.00,0.00,...,1,0.33,0.67,0.00,0.00,0.00,1,L,0.000017,0
10991,474,2022-02-28,KGC인삼공사,0,하효림,0.00,0.00,0.00,0.00,0.00,...,0,0.33,0.67,0.41,0.00,0.50,0,S,0.000017,0
10996,474,2022-02-28,KGC인삼공사,0,채선아,0.00,0.00,0.00,0.00,0.00,...,0,0.00,0.33,0.14,0.53,0.00,0,Li,0.000000,0